<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    APPOINTMENT LETTER
Emp. ID: EMPCG0111Designation: Back Office ExecutiveDepartment: OperationAddress: : 12, Uppar Haranathpur Road,
Tetultala, Bhadra kali,
Uttarpara, Hooghly – 712232
Date:28/07/222
Dear Mr. Surajit Roy,
With reference to your application, personal interview & further discussion held with you, we are pleased to appoint you in the position of ‘Back Office Executive’ in our company with a joining date of 18th October 2021 on the following terms & conditions:
This could be considered as appointment cum confirmation of your service, which shall be effective from 1st June 2022.
You will initially join at Kolkata office with Sub Branch _____; however you may be required to serve the company in any place within/ outside the State, if necessary.
The annual Gross CTC for this position will be Rs. 3,60,000/- (Rupees Three Lakhs Sixty Thousand only) subject to statutory deductions as applicable.
You will be on probation period for 6(six) months from the date of joining, which may be extended at the sole discretion of Management. Unless confirmed in writing, the company reserves the right to terminate your candidature at any point of time, without stating any reasons during this probation period.
You are expected to remain in duty throughout the business/working hours of the organization.
You are liable to be transferred from one job to another job, or from one department to another department or from one establishment to another establishment or from one country to another if required by the Management. You shall do such other work, which will be assigned to you by the Management from time to time. Any such changes in assignment or transfer will not automatically entitled to any additional remuneration, allowance, compensation, or other sum in respect thereof .
During the continuing of tenure, your service may be terminated at any time with assigning proper & valid reason whatsoever by either party giving the other 30 day’s notice in writing or 30 day’s fees/salary in lieu thereof vice-versa.
You are requested to produce the following documents on the day of joining for our records:
a. Adhaar card
b. Pan card
c. Voter id card
d. Front page of bank passbook
e. All documents of 10th
f. All Documents of 12th
g. Highest qualification result / certificate.
h. Previous company’s supportive documents
i. Pay slip of previous organization
j. Blood group report
k. Current Address proof, if not residing temporarily at permanent address.
l. 1 copy of a formal photo.
m. Medical fitness certificate from a recognized doctor
If any declaration given or furnished by you to the company in any document submitted for employment proves to be false or if you have willfully suppressed any material information, you will be liable to be terminated without notice.
As substantial amount of technical and other information will be obtained by you or will be available to you, you will appreciate that any information so obtained must not be communicated directly or indirectly to any person, firm or company. You will therefore be agreed to sign agreement of Non – disclosure / Confidentiality. The Offer Letter is enclosed in duplicate and you are requested to sign the duplicate copy of the same.
We have pleasure in welcoming you and looking forward to mutually meaningful association.
For Creazione Group Of Companies .


……………………………………………….Aviishek MaityCEO & MD
I have read, understood and accepted the terms and conditions of employment. As desired, I will join the company’s services with effect from…………………………
Signature:
Date:
</body>
</html>