<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Ref. Code: OLCG001/FOSDesignation: Field Sales OfficerPermanent resident:
7/f, Bansberia Hangeswari Road, Prabhurbagan, Hooghly - 712502
Date: 27/07/22
Dear Mr. Buddhadeb Dutta,
We are pleased to offer you the post of ‘Field Sales Officer’ in our Sales Department on the following terms:
Appointment StatusYour date of joining shall be 5th September 2022 which shall be confirmed with the last working day of your current company's notice period & the documented mail with acceptance of your formal resignation. Kindly get the reporting branch mentioned below for your joining:
Reporting Office:-
Compensation
You will be under probation for a period of 6 months from your date of joining and thereafter you will be confirmed subject to satisfactory discharge of your duty. During probation your consolidated Gross CTC will be 3,60,000/-( 'Rupees Three Lakhs Sixty Thousand ’)
Further, you are not entitled to any other employees' benefits till the confirmation of your service and before the probation period.
Notice Period
During the continuing of tenure, your service may be terminated at any time assigning proper valid reason whatsoever by either party giving the other 30 day’s notice in writing or 30 day’s fees in lieu thereof, vice-versa.
Reporting
You will report to your respective reporting Manager/Supervisor as per the organizations terms. Your designation, place of posting, assignment of job content, reporting relationship is liable to change from time to time at the discretion of the Management. It will be appreciated that being in the Finance based organization, you will devote your whole time, attention, integrity, acquired knowledge to the well being and development of the Company and shall not engage in or occupy yourself in any other work or take up any assignments/services of any other organization or individual or carry on any business of your own except with the prior written permission of the Management

We welcome you to our Organization and look forward to a long and mutually beneficial relationship.

For Creazione Group Of Companies.
Human Resource Management
</body>
</html>